<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- add entry to enable component scanning -->

	<context:component-scan
		base-package="com.immortal.springdemo.*" />

	<!-- define dependencies -->

	<bean id="myFortuneService"
		class="com.immortal.springdemo.fortunes.HappyFortuneService">
	</bean>

	<bean id="myCoach"
		class="com.immortal.springdemo.subclass.TrackCoach">

		<!-- set up constructor injection -->
		<constructor-arg ref="myFortuneService" />
	</bean>

	<bean id="cricketCoach"
		class="com.immortal.springdemo.subclass.CricketCoach">

		<!-- set up setter method injection -->
		<property name="iFortuneService" ref="myFortuneService" />
	</bean>

</beans>





